In [51]:
import numpy as np
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import math
data = pd.read_csv('datasets/kc_house_data.csv')

In [52]:
data['date'] = pd.to_datetime(data['date'])

In [53]:
data['price'] = data['price'].astype(int)

In [54]:
data['basement'] = data['sqft_basement'].apply(lambda x : 1 if x!=0 else 0)
data.drop('sqft_basement', axis=1, inplace=True)

In [ ]:
data['renovated'] = data['yr_renovated'].apply(lambda x : 1 if x!=0 else 0)
data.drop('yr_renovated', axis=1, inplace=True)

In [56]:
options_ = sorted(set(data['bedrooms'].unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 33]

In [59]:
options_[12]

33

In [70]:
bed_data = data[['price', 'bedrooms']].groupby('bedrooms').mean()
bed_frame = pd.DataFrame(bed_data)
#bed_frame
#bed_data

                 price
bedrooms
0         4.095038e+05
1         3.176429e+05
2         4.013727e+05
3         4.662321e+05
4         6.354195e+05
5         7.865998e+05
6         8.255206e+05
7         9.511847e+05
8         1.105077e+06
9         8.939998e+05
10        8.193333e+05
11        5.200000e+05
33        6.400000e+05

In [71]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'basement'],
      dtype='object')